WEBSOCKETS_CONNECTIONS_API=https://xxxxxx.execute-api.us-west-2.amazonaws.com/dev
SQS_QUEUE_URL=https://sqs.us-west-2.amazonaws.com/12345678/connectionids-dev.fifo
AWS_XRAY_CONTEXT_MISSING=IGNORE_ERROR
AWS_ACCESS_KEY_ID=AKXXXXXXXXXXXUW
AWS_DEFAULT_REGION=us-west-2
AWS_REGION=us-west-2
AWS_SECRET_ACCESS_KEY=3FXXXYYYZZZdsdXZHNZXXXds1232OwEf
STREAMING_API_URL=https://foo.bar.com
